/* Resetting Default Browser Settings */
* {
    padding: 0;
    margin: 0;
}

/* Hero Section Styling */
.hero {
    border: 1px solid black;
    padding: 15px;
    background-color: white;
}

/* Main Section Styling */
section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper Styling */
.wrapper {
    height: 500px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    /* Short Hand */
    box-sizing: border-box;
}

/* Top Box Styling */
.Top_Box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 49.2%;
    border: 1px solid black;
    /* Short Hand */
    background-color: #FF9999;
}

.Top_Box h1 {
    font-size: 35px;
    margin-top: 35px;
    font-weight: 400;
}

.Top_Box h3 {
    font-size: 20px;
    margin-top: 40px;
}

/* Bottom Left Box Styling */
.Bottom_Left_Box {
    width: 70%;
    height: 50.3%;
    border: 1px solid black;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Bottom_Left_Box img {
    object-fit: cover;
    height: 96%;
    width: 98%;
}

/* Bottom Right Box Styling */
.Bottom_Right_Box {
    display: flex;
    width: 29.5%;
    height: 50.3%;
    border: 1px solid black;
    background-color: #ECECFB;
    flex-direction: column;
    align-items: center;
}

.Image img {
    height: 100px;
    width: auto;
    margin-top: 10px;
}

.text {
    text-align: center;
    margin: 0 14px 0 14px;
    /* Used Short Hand */
    font-size: 17px;
}

.text p {
    margin-top: -15px;
}

/* MEDIA QUERY FOR RESPONSIVENESS */
@media only screen and (max-width: 850px) {
    .hero {
        padding: 10px;
        margin: 0 10px 0 10px;
    }

    /* Adjustments for Better Responsiveness */
    .wrapper {
        width: 100%;
        height: 100%;
    }

    .Top_Box {
        height: auto;
        padding: 10px;
    }

    .Bottom_Left_Box,
    .Bottom_Right_Box {
        width: 100%;
        height: auto;
    }

    .Bottom_Left_Box img {
        height: 97%;
        width: 98%;
    }
}